/*webkit-sassui-img-icon Start*/
/*animation Start*/
/*animation End*/
/*appearance Start*/
/*appearance End*/
/*backface-visibility Start*/
/*backface-visibility End*/
/*background Start*/
/*background End*/
/*border-radius Start*/
/*border-radius End*/
/*box-shadow Start*/
/*box-shadow End*/
/*box-sizing Start*/
/*box-sizing End*/
/*clearfix Start*/
/*clearfix End*/
/*content-columns Start*/
/*content-columns End*/
/*dib-grid Start*/
/*dib-grid End*/
/*flexbox Start*/
/*flexbox End*/
/*flip Start*/
/*flip End*/
/*height Start*/
/*height End*/
/*margin Start*/
/*margin End*/
/*padding Start*/
/*padding End*/
/*placeholder Start*/
/*placeholder End*/
/*size Start*/
/*size End*/
/*tap-highlight-transparent Start*/
/*tap-highlight-transparent End*/
/*text-size-adjust Start*/
/*text-size-adjust End*/
/*touch-callout Start*/
/*touch-callout End*/
/*transformation Start*/
/*transformation End*/
/*transition Start*/
/*transition End*/
/**
 * @desc  triangle
 * @param $width
 * @param $height
 * @param $color
 * @param $direction: top bottom left right
 */
/**
 * @desc Use svg
 */
/*user-select Start*/
/*user-select End*/
/*width Start*/
/*width End*/
/*webkit-sassui-img-icon End*/
.test-webkit-sassui-img-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("./suiBianTui_b5271ec.png") no-repeat;
  background-size: cover;
}
